**/*.dll
**/*.exe
common/*
external/*
distrib/*
cmake-build-debug/*
.idea/*
**/screenshots/*
build/*
bin-*/*
distrib/build_*/*
**/*.bak
**/*.orig
screenshot.bmp
*.pyc
Thumbs.db
OpenGL-tutorial_v*
**.mtl
.DS_Store
